.main {
  width: 100%;
  background-color: #99afba;
  box-sizing: border-box;
  max-height: 600px;
  padding: 50px 0;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.titleWrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 3.5rem;
  color: black;
}

.titleDescription {
  margin: 20px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #ffffff;
}

.mainImgContainer {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.mainImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 992px) {
  .titleWrapper {
    gap: 20px;
    grid-template-columns: 100%;
  }

  .title {
    font-size: 2.4rem;
  }

  .titleDescription {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1.8rem;
  }

  .titleDescription {
    font-size: 1.2rem;
  }
}
